{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content_h %}
Settings: {{request.user.username}}
{% endblock%}

{% block content %}
{% if success %}
<div class="alert alert-success" role="alert">
  {{success}}
</div>
{% endif %}
<form action="{% url 'settings_page' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-success">Save</button>
  {% endbuttons %}
</form>
{% endblock%}