{% extends "include/base.html" %}
{% load bootstrap4 %}

{% block content_h %}
{{page_name}}
{% endblock%}

{% block content %}
{% if user.is_authenticated %}
<h3>You are already authenticated</h3>
{% else %}
<form action="{% url 'login_page' %}?continue={{continue}}" method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-success">Login</button>
  {% endbuttons %}
</form>
<a
  href="{% url 'signup_page' %}"
  class="text-primary"
  style="text-decoration: underline"
  >create new account</a
>
{% endif %}
{% endblock%}