{% extends "include/base.html" %}
{% load bootstrap4 %}

{% block content_h %}
{{page_name}}
{% endblock%}

{% block content %}
{% if user.is_authenticated %}
<h3>You are already signed up</h3>
{% else %}
<form action="{% url 'signup_page' %}" method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-success">Sign up</button>
  {% endbuttons %}
</form>
{% endif %}
{% endblock%}
