{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}?{% now "U" %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'css/my-css.css' %}?{% now "U" %}"
    />
    <title>{{ page_name }}</title>
  </head>
  <body>
    <div class="bg-light">
      <div class="container-md">
        <nav class="navbar navbar-expand-md navbar-light border-bottom border-dark px-0 d-flex">
          <a class="navbar-brand order-1 fs-34" href="{% url 'main_page' %}">AskMeBushe</a>
          <form class="form-inline my-2 my-lg-0 col-8 pl-sm-2 col-sm-6 pl-0 order-4 order-sm-2">
            <input
              class="form-control mr-sm-2 w-100 rounded-pill"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
          <a type="button" href="{% url 'ask_page' %}" class="order-3 btn btn-success text-uppercase rounded-0">ASK!</a>
          {% if not user.is_authenticated %}
          <div
            class="collapse navbar-collapse order-4 order-sm-4"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link text-primary td-underline"
                  href="{% url 'login_page' %}?continue={% url 'main_page' %}"
                  >log in</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-primary td-underline"
                  href="{% url 'signup_page' %}"
                  >register</a
                >
              </li>
            </ul>
          </div>
          {% else %}
          <div class="order-4 order-sm-4 mr-auto mr-md-0 ml-md-auto">
            <div class="media d-flex align-items-center">
              <img
                src="{{user.profile.avatar.url}}"
                class="mr-3 w-50px"
                alt="..."
              />
              <div class="media-body">
                <h5 class="mt-0">{{user.username}}</h5>
                <div class="d-flex flex-wrap justify-content-between">
                  <a
                    class="link text-primary mr-2 td-underline"
                    href="{% url 'settings_page' %}"
                    >settings</a
                  >
                  <a
                    class="link text-primary td-underline"
                    href="{% url 'logout' %}?current_page={{request.path}}"
                    >log out</a
                  >
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </nav>
      </div>
    </div>
    <div class="container-md">
      <h3 class="mt-3 mb-3">{% block content_h %} {% endblock %}</h3>
      <div class="row">
        <div class="col-12 col-sm-8">
          {% block content %} {% endblock content %}
        </div>
          {% include "include/popular_stat.html" %}
      </div>
    </div>

    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block jscode %} {% endblock %}
  </body>
</html>