<div class="col-8 col-sm-4">
  <div class="mb-3">
    <h3>Popular Tags</h3>
    <div>
    {% for tag in popular_tags %}
    <a href="{% url 'tag_page' tag_name=tag.name %}" class="text-success mr-3">{{tag.name}}</a>
    {% endfor %}
    </div>
  </div>
  <div class="mb-3">
    <h3>Best Members</h3>
    <nav class="nav flex-column">
      {% for member in best_members %}
      <a class="py-1 td-underline" href="#">{{member.user}}</a>
      {% endfor %}
    </nav>
  </div>
</div>