<div class="card mb-3">
<div class="card-body d-flex flex-column">
  <div class="media">
    <div class="d-flex flex-column mr-4">
      <img class="w-65px"
        src="{{ question.user.avatar.url }}"
        alt="Profile picture"
      />
      <div class="border position-relative px-2 pr-4 mt-3 liker">
        <span class="like-num">{{question.rating}}</span>
        <button class="js-vote position-absolute border-0 like-up" data-action="like" data-qid="{{question.pk}}">&#9660</button>
        <button class="js-vote position-absolute border-0 like-down" data-action="dislike" data-qid="{{question.pk}}">&#9660</button>
      </div>
    </div>
    <div class="media-body w-80per">
      <h5 class="mt-0">
        <a
          href="{% url 'question_page' num=question.id %}"
          class="text-primary"
          style="text-decoration: underline"
        >
          {{question.title}}
        </a>
      </h5>
      <p class="mb-0">
        {{question.text}}
      </p>
      <div class="">
        <a
          href="{% url 'question_page' num=question.id %}"
          class="card-link mr-3 td-underline"
          >answer (<span>{{ question.answers.all.count }}</span>)</a
        >
        <div class="flex-nowrap mt-2">
          <span class="mr-1">Tags:</span>
          {% for tag in question.tags.all %}
          <a href="{% url 'tag_page' tag_name=tag.name %}" class="mr-2 td-underline">{{tag}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>