.fs-34 {
    font-size: 34px;
}

.td-underline {
    text-decoration: underline;
}

.w-50px {
    width: 50px;
}

.w-65px {
    width: 65px;
}

.w-90px {
    width: 90px;
}

.w-150px {
    width: 150px;
}

.w-80per {
    width: 80%;
}

.liker {
    min-width: 50px;
    height: 30px;
    display: inline-block;
}

.like-num {
    white-space: nowrap;
    word-wrap: break-word;
}

.like-up {
    height: 17px;
    width: 17px;
    font-size: 9px;
    text-align: center;
    padding: 0;
    right: 0;
    transform: rotate(180deg);
    top: 0;
}

.like-down {
    height: 17px;
    width: 17px;
    font-size: 9px;
    text-align: center;
    padding: 0;
    right: 0;
    bottom: 0;
}