{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content_h %}
{{page_name}}
{% endblock%}

{% block content %}
<div class="col-12 col-sm-8 mt-4">
<form action="{% url 'ask_page' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-success">Ask!</button>
  {% endbuttons %}
</form>
</div>
{% endblock%}