{% extends "include/base.html" %}
{% load static %}
{% load bootstrap_pagination %}

{% block content_h %}
{% if page_name == "AskMeBushe" %}
New questions <a href="{% url 'hot_questions' %}">Hot questions</a>
{% else %}
Hot questions <a href="{% url 'main_page' %}">New questions</a>
{% endif %}
{% endblock%}

{% block content %}
<div class="mt-2">
  {% for question in questions %}
    {% include "include/question_card.html" %}
  {% endfor %}
</div>

{% bootstrap_paginate questions range=3 %}

{% endblock%}

{% block jscode %}
<script src="{% static 'js/vote.js' %}"></script>
{% endblock %}