{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="">
  <div class="card border-0">
    <div class="card-body d-flex flex-column">
      <div class="media">
        <div class="d-flex flex-column mr-4">
          <img class="w-90px"
            src="{{ question.user.avatar.url }}"
            alt="Profile image"
          />
          <div class="border position-relative px-2 mt-3 liker">
            <span>{{question.rating}}</span>
            <button class="position-absolute border-0 like-up">&#9660</button>
            <button class="position-absolute border-0 like-down">&#9660</button>
          </div>
        </div>
        <div class="media-body">
          <h3 class="mt-0">
              {{question.title}}
          </h3>
          <p class="mb-0">
            {{question.text}}
          </p>
        </div>
      </div>
      <div style="margin-left: 114px;">
        <span class="flex-nowrap mt-2">
          <span class="mr-1">Tags:</span>
          {% for tag_name in question.tags.all %}
          <a href="{% url 'tag_page' tag_name=tag_name %}" class="mr-2">{{tag_name}}</a>
          {% endfor %}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="mt-2 py-3 border-bottom border-top border-secondary">
  {% for answer in question.answers.all %}
  <div class="card mb-3" id="answer_{{answer.id}}">
    <div class="card-body d-flex flex-column">
      <div class="media">
        <div class="d-flex flex-column mr-4">
          <img class="w-65px"
            src="{{ answer.user.avatar.url }}"
            alt="Profile image"
          />
          <div class="border position-relative px-2 mt-3 liker">
            <span>{{answer.rating}}</span>
            <button class="position-absolute border-0 like-up">&#9660</button>
            <button class="position-absolute border-0 like-down">&#9660</button>
          </div>
        </div>
        <div class="media-body">
          <p class="mb-0">
            {{answer.text}}
          </p>
          <div class="mt-2">
            <div class="form-check form-check-inline">
              <input checked class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">Correct!</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="mt-4">
<form action="{% url 'question_page' num=question.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-success">Answer</button>
  {% endbuttons %}
</form>
</div>
{% endblock%}